#menuitems {
	clear: both;

}

#contentlist {
	text-align: center;

}
.navbar {
 	background-color: powderblue;
 }

 #chicken,#beef,#sushi {
 	margin-top: 40px;
 	border-radius: 10px;
 	border: 3px solid maroon;
 	
 	margin-left: auto;
 	margin-right: auto;
 }

 #chicken h5 , #beef h5, #sushi h5  {
 	text-align: center;
 	color: maroon;
 	background-color: #d9d9d9;
 	border-radius: 3px;
 	border: 1px solid red;
 	margin-bottom: 10px;
 }
