body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif; 
}
.navbar{
	background-color: yellow;	
}
.logo-image {
	background-image: url('../image/logo.png'); 	
	background-repeat: no-repeat;
	background-size:contain;
	width: 250px;
	height: 180px;
	margin: 10px 15px 1px 1px;
	border-radius: 30px;
	

}
#navlist {
	text-align: center;
	
}
#navlist a:hover {
	background-color: transparent;
}
#contentlist{
	clear: both;
	
	
} 

#phone a {
	font-size: 1.4em;
	text-align: right;
	padding-bottom: 0;
	color: maroon;
	font-weight: bold;
	vertical-align: center;
}

#phone div {
	color: #5573ce;
	text-align:right;
	padding-right: 15px;
}

.navbar-brand {
	color:green;
	text-shadow: 1px 1px 5px green;
}
.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}

.star {
	width: 30px;
	height: 30px;
}
.navbar-brand span {
	vertical-align: center;
	
}

button.navbar-toggler , .navbar-toggler-icon {
	
	color: maroon;

}




@media (min-width: 1200px){
		#contentlist {
			padding-left: 30px ;
			padding-top: 60px;
		}
		#phone a{
			font-size: 1.7em;
		}
}


@media (min-width: 992px) and (max-width: 1199px){
	.logo-image {
		width: 160px;
		height: 100px;
	}
	
	.navbar-brand h1 {
		font-size: 1.8em;
	}
	.navbar-brand span {
		font-size: 0.8em;
	}
	.star {
		width: 25px;
		height: 25px;

	}
	#contentlist {
		padding-left: 60px;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	.logo-image {
		width: 100px;
		height: 80px;
	}
	
	.navbar-brand h1 {
		font-size: 1.2em;
	}
	.navbar-brand span {
		font-size: 0.5em;
	}
	.star {
		width: 20px;
		height: 20px;

	}

}
@media (max-width: 767px ) {
	.logo-image {
		width:70px;
		height: 80px;
	}

	.navbar-brand h1 {
		font-size: 1em;
	}
	.navbar-brand span {
		font-size: 0.5em;
	}
	.star {
		width: 13px;
		height: 13px;

	}
	.navbar button {
		
		border: 1px solid white;
		
	}
}